@charset "utf-8";
html,body{margin:0;padding:0;font-family:"微软雅黑";font-size:10px;position: relative;height:100%;background-size: 100%;background-color: #2a23c7}
textarea{font-family:"微软雅黑";}
html,body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p{margin:0;padding:0;font-size: 16px;}
img{border:0; vertical-align:bottom;}
ul,li{list-style:none;}
a{text-decoration:none;color: #fff}
input::-webkit-input-placeholder {color:#fff;font-size:12px;}
.cl{display: block;clear: both;}
.box{position: relative;padding-bottom: 90px}
.Title{font-size: 54.85px;color: #ffdc00;font-weight: bold;text-align: center;padding-top: 110px;padding-bottom: 20px}
.prizeList{width: 100%;max-width: 1340px;margin: 0 auto;-moz-column-count:2;-webkit-column-count:2;column-count: 2;column-gap: none;column-count:none;display: flex;flex-wrap: wrap;}
.prizeList li{width: calc(50% - 30px);margin: 15px;height: 60px;background-color: rgba(38,58,219,.7);line-height: 60px;box-sizing:border-box;border:1px dashed #2864ef;margin-bottom: 15px;padding: 0 15px;color: #fff;font-weight: bold;font-size: 22px;writing-mode: lr-tb;display: inline-block; /*ie8 竖直排列*/}
.prizeList li label{float: right;font-weight: normal;}
.submit{width: 540px;height:98px;margin: 35px auto 0;background: url(../img/btnbg.png) no-repeat;background-size: 100% 100%;font-weight: bold;font-size: 52px;color: #fff;text-align: center;line-height: 98px;}
.box {text-align: center;}
.textarea {width: 50%;height: 200px;outline: none;resize: none;padding: 10px;}


@media screen and (max-width: 1000px){
  .textarea{
    width: 90%;
    height: 300px;
  }
}
@media screen and (max-width: 700px){
  .submit{
    width: 100%;
  }
  .prizeList li{
    width: 100%;
    margin: 15px 0;
  }
  .Title{
    font-size: 30px;
  }
}